


<%= link_to 'Home', user_path(@user) %>
<h3>Settings on User's end not Game. Not used.</h3>

<%= form_for(@user) do |f| %>
  <label>Difficulty</label><br>
   <%= f.select :set_difficulty, [[1],[2],[3],[4],[5],[6],[7],[8],[9],[10]] %><br>

  <label>Maximum length of the word</label><br>
   <%= f.select :set_maxLength, [[1],[2],[3],[4],[5],[6],[7],[8],[9],[10]] %><br>

  <%= f.submit 'Save' %>
<% end %>




