<%= link_to "Log out", sessions_path, method: "delete" %>

  <%= form_tag('/games', :method=>'post')do %>
    <label>Difficulty</label>
     
    <%= select_tag('game[difficulty]', options_for_select([['Easy', 1], ['Intermediate', 2],['Expert', 3], ['Genius', 4],['Super Genius', 5], ['Hangman God', 6]]))%>
  
    <label>Length</label>
    <%= select_tag('game[maxLength]', options_for_select([['Less than 4', 4],['Less than 5', 5], ['Less than 6', 6]]))%>

    <%= submit_tag "Start" %>
  <% end %>



