<%= link_to 'Home', user_path(@user) %>
This is where the game happens, upon "start" but really it's a form



  <%= form_tag('/games', :method=>'post')do %>

 

    <label>Difficulty</label>
     
    <%= select_tag('game[difficulty]', options_for_select([['1', 1], ['2', 2],['3', 3], ['4', 4],['5', 5], ['6', 6]]))%>

    <%= select_tag('game[maxLength]', options_for_select([['3', 3], ['4', 4],['5', 5], ['6', 6]]))%>

    <%= submit_tag "Start" %>
  <% end %>



