
    Selected letters:
    <%= @game.selected_letters %>

    Right guesses:
    <%= @game.guesses %>

    Misses:
    <%= @game.misses %>

    Strikes:
    <%= @game.misses.size %> <br>

<h1>

    <% @game.word.split("").map do |char| %>
    
    <%   if @game.selected_letters.include?(char) %> 
    <%=      char = char  %>
    <%   else            %>
    <%=      char = "____"  %>
      <%  end %>
    <% end %>

    </h1>

        <div class="small-12 medium-8 columns">
        <div class="row">
            <div class="small-12 columns">
                <ul class="word small-block-grid-<%= @game.word.length %>">
                    <% @game.word.split('').each do |letter| %>
                        <li>
                            <div class="word-letter">
                                <%= @game.finished? || @game.selected_letters.include?(letter) ? letter : '_' %>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>


        
 
      <% if @game.finished? %>
            <div class="row game-status">
                <div class="small-12 columns text-center">
                    <% if @game.guessed? %>
                        <span class="label success radius">You successfully guessed the word! :)</span>
                    <% else %>
                        <span class="label alert radius">No, no... You didn't find the word :(</span>
                    <% end %>
                </div>
            </div>
        <% end %>



         <%= form_for :game, :url => game_path, :method => :patch do |form| %>
            <div class="row">
                <div class="letters">
                    <% ('A'..'Z').each do |letter| %>
                    <%
                      if @game.selected_letters.include? letter
                                button_class = @game.word.include?(letter.downcase) ? 'success' : 'alert'
                            end

                    %>


                        <div class="small-2 medium-2 columns text-center">
                            <div class="letter">
                                <%= form.submit letter, :name => 'letter', :class => "button expand #{button_class}" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
                   






remove this later:
<h2><%= @game.word %></h2>