
Good luck!
    Selected letters:
    <%= @game.selected_letters %>

    Right guesses:
    <%= @game.guesses %>

    Misses:
    <%= @game.misses %>

    Strikes:
    <%= @game.misses.size %> <br>



    

<br>
<h1>
    <% if @game.finished? || @game.guessed? %>
    <%= @game.word %>
    <% else %>
    <%=  @game.word.split("").map.with_index {|char, idx| @game.selected_letters.include?(char) ? @game.blanks[idx] = char : @game.blanks[idx] = "___  "}.join(" ") %>
    <% end %>
</h1>
<br>
<br>
<br>

      <% if @game.finished? %>
            <div class="row game-status">
                <div class="small-12 columns text-center">
                    <% if @game.guessed? %>
                        <span class="label success radius">You successfully guessed the word! :)</span>
                    <% else %>
                        <span class="label alert radius">No, no... You didn't find the word :(</span>
                    <% end %>
                </div>
            </div>
        <% end %>



         <%= form_for :game, :url => game_path, :method => :patch do |form| %>
            <div class="row">
                <div class="letters">
                    <% ('A'..'Z').each do |letter| %>
                    <%
                      if @game.selected_letters.include? letter
                                button_class = @game.word.include?(letter.downcase) ? 'success' : 'alert'
                        end

                          # if @game.word.include?(letter.downcase) 
                          #           idx = @game.word.index(letter.downcase)
                          #           blanks[idx] = letter
                          # end

                    %>


                        <div class="small-2 medium-2 columns text-center">
                            <div class="letter">
                                <%= form.submit letter, :name => 'letter', :class => "button expand #{button_class}" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
                   






remove this later:
<h2><%= @game.word %></h2>