
Good luck!
    Selected letters:
    <%= @game.selected_letters %>

    Right guesses:
    <%= @game.guessed_letters %>

    Misses:
    <%= @game.missed_letters %>

    Strikes:
    <%= @game.misses.size %> <br>


<%= @game.blanks_spaces %>

      <% if @game.finished? %>
            <div class="row game-status">
                <div class="small-12 columns text-center">
                    <% if @game.guessed? %>
                        <span>You successfully guessed the word! :)</span>
                    <% else %>
                        <span>No, no... You didn't find the word :(</span>
                    <% end %>
                </div>
            </div>
        <% end %>



         <%= form_for :game, :url => game_path, :method => :patch do |form| %>
            <div class="row">
                <div class="letters">
                    <% ('A'..'Z').each do |letter| %>
                    <%
                    if @game.finished?
                        button_class = 'disable'
                      elsif @game.selected_letters.include? letter
                                button_class = @game.word.include?(letter.downcase) ? 'success' : 'alert'
                        end

                    %>


                        <div class="small-2 medium-2 columns text-center">
                            <div class="letter">
                                <%= form.submit letter, :name => 'letter', :class => "button expand #{button_class}" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>







remove this later:
<h2><%= @game.word %></h2>
